
$iao-first: #B54077;
$iao-first-1: lighten($iao-first, 10%);
$iao-first-2: lighten($iao-first, 30%);
$iao-first-3: lighten($iao-first, 40%);
$iao-first-4: lighten($iao-first, 50%);
$iao-first-5: lighten($iao-first, 60%);


$iao-second: #A80A3D;
$iao-second-1: lighten($iao-second, 10%);
$iao-second-2: lighten($iao-second, 30%);
$iao-second-3: lighten($iao-second, 40%);
$iao-second-4: lighten($iao-second, 50%);
$iao-second-5: lighten($iao-second, 60%);

$iao-third: #1F3447;
$iao-third-1: lighten($iao-third, 10%);
$iao-third-2: lighten($iao-third, 30%);
$iao-third-3: lighten($iao-third, 40%);
$iao-third-4: lighten($iao-third, 50%);
$iao-third-5: lighten($iao-third, 60%);

$iao-fourth: #736966;
$iao-fourth-1: lighten($iao-fourth, 10%);
$iao-fourth-2: lighten($iao-fourth, 30%);
$iao-fourth-3: lighten($iao-fourth, 40%);
$iao-fourth-4: lighten($iao-fourth, 50%);
$iao-fourth-5: lighten($iao-fourth, 60%);

$iao-fifth: #FFF9D7;
$iao-fifth-1: lighten($iao-fifth, 2%);
$iao-fifth-2: lighten($iao-fifth, 4%);
$iao-fifth-3: lighten($iao-fifth, 6%);
$iao-fifth-4: lighten($iao-fifth, 8%);
$iao-fifth-5: lighten($iao-fifth, 10%);