.colour-block {
  display: inline-block;
  margin: 0 15px 15px;
  padding: 30px;
  min-height: 20px;
  min-width: 20px;

  &.a1 {
    background-color: $iao-first;
  }

  &.a2 {
    background-color: $iao-first-1;
  }

  &.a3 {
    background-color: $iao-first-2;
  }

  &.a4 {
    background-color: $iao-first-3;
  }

  &.a5 {
    background-color: $iao-first-4;
  }

  &.a6 {
    background-color: $iao-first-5;
  }

  &.b1 {
    background-color: $iao-second;
  }

  &.b2 {
    background-color: $iao-second-1;
  }

  &.b3 {
    background-color: $iao-second-2;
  }

  &.b4 {
    background-color: $iao-second-3;
  }

  &.b5 {
    background-color: $iao-second-4;
  }

  &.b6 {
    background-color: $iao-second-5;
  }

  &.c1 {
    background-color: $iao-third;
  }

  &.c2 {
    background-color: $iao-third-1;
  }

  &.c3 {
    background-color: $iao-third-2;
  }

  &.c4 {
    background-color: $iao-third-3;
  }

  &.c5 {
    background-color: $iao-third-4;
  }

  &.c6 {
    background-color: $iao-third-5;
  }

  &.d1 {
    background-color: $iao-fourth;
  }

  &.d2 {
    background-color: $iao-fourth-1;
  }

  &.d3 {
    background-color: $iao-fourth-2;
  }

  &.d4 {
    background-color: $iao-fourth-3;
  }

  &.d5 {
    background-color: $iao-fourth-4;
  }

  &.d6 {
    background-color: $iao-fourth-5;
  }

  &.e1 {
    background-color: $iao-fifth;
  }

  &.e2 {
    background-color: $iao-fifth-1;
  }

  &.e3 {
    background-color: $iao-fifth-2;
  }

  &.e4 {
    background-color: $iao-fifth-3;
  }

  &.e5 {
    background-color: $iao-fifth-4;
  }

  &.e6 {
    background-color: $iao-fifth-5;
  }
}